<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen1_v1.Properties.Settings.Examen1_v1ConnectionString"
            connectionString="Data Source=.;Initial Catalog=Examen1_v1;Persist Security Info=True;User ID=sa;Password=sysadm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>